.pharmacyLadyWrapper {
  padding: 37px 0 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pharmacyLadyImg {
  width: 50%;
}

.pharmacyLadyText {
  width: 47%;
}

.pharmacyLadyImg img {
  width: 100%;
  height: 100%;
}

.pharmacyLadyText h4 {
  color: #0b1b5c;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 30px;
}

.pharmacyLadyText p {
  white-space: break-spaces;
  color: #0b1b5c;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

@media screen and (max-width: 768px) {
  .pharmacyLadyWrapper {
    padding: 37px 14px 51px;
    display: flex;
    flex-direction: column-reverse;
  }
  .pharmacyLadyText h4 {
    font-size: 18px;
  }
  .pharmacyLadyText p {
    font-size: 14px;
  }
  .pharmacyLadyText {
    width: 80%;
    padding-bottom: 20px;
  }
  .pharmacyLadyImg {
    width: 333px;
    height: 329px;
  }
}
