.dpo {
    padding: 89px 7.91% 189px;
}

.dpoTitle {
    margin-bottom: 60px;
}

.dpoTitle h1 {
    text-align: center;
    color: #0B1B5C;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.dpoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dpoImg {
    width: 50%;
}

.dpoImg img {
    width: 100%;
    height: 100%;
}

.dpoContentAddress {
    list-style-type: none;
}

.dpoContentAddress li {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.dpoContentContact{
    margin-top: 10px;
}

.dpoContentContactItem {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.dpoContentContactItem p {
    margin-left: 15px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
    .dpo {
        padding: 89px 3.91% 189px;
    }
    
    .dpoTitle {
        margin-bottom: 60px;
    }
    
    .dpoTitle h1 {
        text-align: center;
        color: #0B1B5C;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
    }

    .dpoContentAddress li,
    .dpoContentContactItem p {
        font-size: 18px;
    }
    
}

@media screen and (min-width: 250px) and (max-width: 768px) {
    .dpo {
        padding: 49px 30px 149px;
    }
    
    .dpoTitle {
        margin-bottom: 60px;
    }
    
    .dpoTitle h1 {
        text-align: center;
        color: #0B1B5C;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
    }

    .dpoContentAddress li,
    .dpoContentContactItem p {
        font-size: 15px;
    }
    
    .dpoWrapper {
        flex-direction: column;
    }

    .dpoImg {
        margin-top: 30px;
        order: 2;
        width: 95%;
    }
    
}